@charset "UTF-8";

@font-face {
    font-family: Bomberman;
    src: url(../../font/bomberman_font.TTF)
}

/* Colors */
:root {
    --bg-color: #ffffff;
    --bg-color-big: #7eb7ca88;
    --main-color: #4FA0BA;
    --text-color: #FFF;
    --text-color-big: #1976ac;
    --btn-color: #086b8bd5;
}

h2#nome {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 42px;
    letter-spacing: 4px;
    color: #0a5580;
    font-family: Bomberman, sans-serif;
    text-shadow: 2px 3px 3px #47474788;
}

h2#nome:hover {
    cursor: pointer;
}

.btn-nome {
    width: 120px;
    height: 170px;
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 18px;
    background: gray;
    box-shadow: 2px 2px #0000009f;
    cursor: pointer;

    transition: ease all 0.35s;
}

.btn-nome:hover {
    box-shadow: 5px 5px #0000009f;
}

#btn-nome-a, #btn-nome-c {
    margin-right: 15px;
}

.letras {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.letra {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70px;
}

.letras span {
    padding: 2px;
    font-size: 68px;
    font-weight: bold;
    font-family: Bomberman, sans-serif;
    color: var(--text-color-big);
    cursor: pointer;
    text-shadow: 3px 5px 2px #47474788;
}

.letras span:hover {
    transform: translate(-3px, -3px);
    text-shadow: 6px 8px 4px #47474788;
    transition: transform .4s, text-shadow .4s;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.8);
    /*opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;*/
  }

  /*.modal:target {
    opacity: 1;
    pointer-events: auto;
  }*/

  .modal .content {
    background-color: #D3D3D3;
    margin: 50% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;

    /*width: 120px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;*/
}

.modal h2{
    margin-top: 10px;
    text-align: center;
    color: var(--text-color-big);
}

.modal button {
    margin-top: 18px;
    margin-bottom: 10px;
}