@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

/* Colors */
:root {
  --bg-color: #ffffff;
  --bg-color-big: #7eb7ca88;
  --main-color: #4fa0ba;
  --text-color: #fff;
  --text-color-big: #1976ac;
  --btn-color: #086b8bd5;
}

.home {
  height: 100%;
}

.pages-menu {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pages-menu div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.pages-menu span {
  color: var(--text-color-big);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12pt;
}

.btn-menu {
  width: 149px;
  height: 144px;
  margin-top: 15px;
  border: none;
  border-radius: 38px;
  /* background: var(--main-color); */
  box-shadow: 2px 2px #0000009f;
  cursor: pointer;
  /* color: #070707cc; */
  font-weight: 700;
  font-size: 25px;
  font-family: 'Rubik Bubbles', cursive;
  text-shadow: 1px 1px 5px white;
  transition: ease all 0.35s;
}

.btn-menu:hover {
  box-shadow: 5px 5px #0000009f;
}

#btn-menu-cores,
#btn-menu-alfabeto,
#btn-menu-numeros {
  margin-right: 15px;
}

#btn-menu-cores {
  background-image: url(../../images/btn-cores.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#btn-menu-alfabeto {
  background-image: url(../../images/btn-alfabeto.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#btn-menu-dinossauros {
  background-image: url(../../images/btn-dinos.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#btn-menu-formas {
  background-image: url(../../images/btn-formas.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#btn-menu-numeros {
  background-image: url(../../images/btn-numeros.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#btn-menu-name {
  background-image: url(../../images/btn-nomes.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
